*.class
*.jar
*.log
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/.env
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/out
/resources/public/js
/target/
pom.xml
pom.xml.asc
profiles.clj