/*
.body-container {
  font-family: 'Geo';
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
*/

@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

html, body, div {
    font-size: 100%;
}

body {
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    background-color: #f8f8f8;
}

header {
  text-align: center;
  width: 100%;
  font-size: 3em;
  height: 1.4em;
  display: block;
}

header div.container {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-shadow: 1px 1px white;
}

header div.container a {
    color: #333;
}

main {
    padding-top: 1em;
    width: 100%;
    background-color: white;
    padding-bottom: 1em;
}

.site-description {
  font-size: 1.5em;
  text-align: justify;
}

.box {
  font-size: 0.8em;
  text-shadow: 1px 1px white;
  text-align: justify;
}

.box h3 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-weight: bold;
}

footer {
    width: 100%;
    font-size: small;
    background-color: #f8f8f8;
    display: block;
    text-align: center;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {

  html, body, div {
      font-size: 80%;
  }
}