/*
.body-container {
  font-family: 'Geo';
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
*/

@import 'https://fonts.googleapis.com/css?family=Merriweather';

html {
    font-size: 100%;
}

body {
    color: #333;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
header div.container {
    font-family: 'Merriweather', georgia, serif;
    text-shadow: 1px 1px white;
    font-size: 2em;
}

@media (min-width: 601px) {

header {
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    border-bottom: #ccc 1px solid;
}
}

header div.container {
    font-family: 'Merriweather', georgia, serif;
    text-shadow: 1px 1px white;
    font-size: 3em;
}